
.gameGrid{
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 10px;
    background-color: rgb(78, 78, 78);
    padding: 10px;
    margin: 10px;
}
.cell{
    width: 100px;
    height: 100px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}
.ship{
    background-image: url(../../../../../Emka/sea-battle/assests/svg/2730366_inkcontober_sea_ship_tools_water_icon.svg);
}